@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Epilogue';
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Epilogue-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: 'Epilogue';
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Epilogue-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: 'Epilogue';
    font-weight: 900;
    font-style: normal;
    src: url(/fonts/Epilogue-Black.woff2) format("woff2");
  }
}

:root {
  --white: #ffffff;
  --black: #161511;
  --salmon: #f4b5a8;
  --sky: #affcf4;
  --icterine: #fcf8b7;
  --bodyGray: #ADADAD;

  background-color: var(--white);

  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.text-icon {
  max-width: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  cursor: pointer;
}
